.movieCardContainer{
    padding: 1em;
    margin: 1em;
    border: 10px solid rgba(0,0,0, 0.5);
    box-shadow: 4px 4px 2px rgba(0,0,0, 0.25);
    &:hover{
        box-shadow: 8px 8px 4px rgba(0,0,0, 1);
        cursor: pointer;
    }
}
.movieCard{
    position: relative;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.movieCard__sideActionPanel{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75%;
    background: rgba(0, 0, 0, 0.75);
    padding: 0.05em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-plus{
    color: rgba(255,255,255, 1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.fa-check{
    color: rgba(0,255, 0, 0.75);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.fa-heart{
    color: rgba(255 ,0, 0, 1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}