.movieListContainer{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;

    
}

.noShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}