.globalFooter {
  position: sticky;
  width: calc(100% - 2em);
  background: rgba(0, 0, 0, 1);
  padding: 1em;
  top: auto;
  bottom: 0 !important;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
}

.footerlink {
  cursor: pointer;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
