
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,200&display=swap');

body, * {
  margin: 0;
  gap: 1em;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 0;
}


h1{
  font-size: 48px;
}

h2{
  font-size: 40px;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 8px;
}
p{
  font-size: 24px;
}
span{
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
div{
padding: 1em;
}

button{
  padding: 1em;
  border: none;
  background: none;
}

.fa-solid, .fa-regular{
  font-size: 32px;
  cursor: pointer;
}